{% extends 'base_without_search.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    /* Stili principali delle slide */
    .slide {
        width: 300px;
        margin-right: 20px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
        background-color: #fff;
        /* Bianco per lo sfondo delle slide */
        color: #333;
        /* Grigio scuro per il testo */
    }

    #slides-container {
        margin-right: -20px;
    }

    .slide:last-child {
        margin-right: 0;
    }

    .slide h2 {
        margin-bottom: 0.5rem;
        color: #333;
        /* Grigio scuro per i titoli */
    }

    .slide img {
        max-height: 280px;
        object-fit: cover;
        object-position: bottom;
    }

    .hide-scroll-bar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .hide-scroll-bar::-webkit-scrollbar {
        display: none;
    }

    /* Aumentare il margine inferiore del contenitore delle slide */
    .overflow-hidden {
        margin-bottom: 100px;
        /* Spazio aggiunto tra le slide e le features */
    }

    /* Sezione delle feature */
    .feature-section {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .feature-item {
        padding: 20px;
        background-color: #fff;
        /* Bianco per lo sfondo degli elementi */
        border: 2px solid #eee;
        /* Bordo chiaro per separare gli elementi */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        transition: transform 0.3s ease-in-out;
    }

    .feature-item:hover {
        transform: translateY(-5px);
        border-color: #d6bbfb;
        /* Viola chiaro per il bordo al hover */
    }

    .feature-item img {
        margin-bottom: 16px;
    }

    .feature-item h3 {
        font-size: 1.25rem;
        color: #6b46c1;
        /* Viola per i titoli */
        margin-bottom: 8px;
    }

    .feature-item p {
        font-size: 1rem;
        color: #666;
        /* Grigio per il testo */
        line-height: 1.5;
    }

    .text-brand-color {
        color: #5e9ca0;
        /* Tuo colore brand per i link */
    }

    .hover\:underline:hover {
        text-decoration: underline;
    }

    @media (min-width: 640px) {
        .grid-cols-3 {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 1.5rem;
        }
    }
</style>

<div class="container mx-auto mt-8 overflow-hidden">
    <h1 class="text-4xl font-bold mb-6 text-center text-black-800">Welcome to Our Shoe Store</h1>
    <div class="flex overflow-x-scroll hide-scroll-bar pb-10">
        <div id="slides-container" class="flex flex-nowrap">
            {% for shoe in shoes %}
            <div class="inline-block px-3">
                <div class="slide rounded-lg p-6">
                    <h2 class="text-2xl font-semibold">{{ shoe.name }}</h2>
                    <img src="{{ url_for('static', filename='images/' + shoe.image_url) }}" alt="{{ shoe.name }}"
                        class="rounded-lg">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Feature section starts here -->
<div class="feature-section">
    <div class="container mx-auto px-6">
        <div class="grid grid-cols-3 gap-8">
            <div class="feature-item flex flex-col items-center justify-center p-4">
                <img src="{{ url_for('static', filename='icon/search.png') }}" alt="Verification Icon" class="mx-auto">
                <h3 class="font-semibold mt-4">Verification</h3>
                <p>Every item sold undergoes our thorough multi-step verification process by a team of verification
                    experts.</p>
            </div>

            <!-- Feature 2 -->
            <div class="feature-item flex flex-col items-center justify-center p-4">
                <img src="{{ url_for('static', filename='icon/dollar-tag.png') }}" alt="Transparent Pricing Icon"
                    class="mx-auto">
                <h3 class="font-semibold mt-4">Transparent Pricing</h3>
                <p>Our real-time marketplace operates like a stock market, allowing you to buy and sell highly
                    sought-after items at true market prices.</p>
            </div>

            <!-- Feature 3 -->
            <div class="feature-item flex flex-col items-center justify-center p-4">
                <img src="{{ url_for('static', filename='icon/access-control.png') }}" alt="Global Access Icon"
                    class="mx-auto">
                <h3 class="font-semibold mt-4">Global Access</h3>
                <p>No matter if it's a pre-release, sold out, or an exclusive release, our network of clients in over
                    200 countries ensures you'll find the item you are looking for.</p>
            </div>

            <!-- Feature 4 -->
            <div class="feature-item flex flex-col items-center justify-center p-4">
                <img src="{{ url_for('static', filename='icon/paper-bag.png') }}" alt="No Worries Icon" class="mx-auto">
                <h3 class="font-semibold mt-4">No Worries Shopping</h3>
                <p>Experience hassle-free shopping with no cancellations, no bids, and no need to compete with buyers or
                    deal with sellers. We handle all steps to ensure a simple and secure purchasing process.</p>
            </div>

            <!-- Feature 5 -->
            <div class="feature-item flex flex-col items-center justify-center p-4">
                <img src="{{ url_for('static', filename='icon/security.png') }}" alt="Security Icon" class="mx-auto">
                <h3 class="font-semibold mt-4">Secured Transactions</h3>
                <p>Protecting the integrity of our marketplace is a step ahead with our security systems and fraud
                    prevention measures, partnering with the best in the world to keep your information safe 24/7.</p>
            </div>

            <!-- Feature 6 -->
            <div class="feature-item flex flex-col items-center justify-center p-4">
                <img src="{{ url_for('static', filename='icon/mobile.png') }}" alt="Customer Support Icon"
                    class="mx-auto">
                <h3 class="font-semibold mt-4">Here For You</h3>
                <p>Thanks to our dedicated Help Center and staff, we ensure we're always available to answer all your
                    questions about our marketplace.</p>
            </div>
        </div>
    </div>
</div>
<!-- Feature section ends here -->

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        const slidesContainer = document.getElementById('slides-container');
        let currentIndex = 0;
        let interval = null;

        document.querySelectorAll('.slide').forEach((slide, index) => {
            const cloneSlide = slide.cloneNode(true);
            if (index === document.querySelectorAll('.slide').length - 1) {
                cloneSlide.style.marginRight = '0px';
            }
            slidesContainer.appendChild(cloneSlide);
        });

        const slideWidth = 300;
        const slideMargin = 20;

        function cycleSlides() {
            currentIndex++;
            if (currentIndex > document.querySelectorAll('.slide').length / 2 - 1) {
                currentIndex = 0;
                slidesContainer.style.transition = 'none';
                slidesContainer.style.transform = `translateX(${currentIndex * (slideWidth + slideMargin)}px)`;
                slidesContainer.offsetWidth;
                setTimeout(() => {
                    slidesContainer.style.transition = 'transform 0.3s ease-out';
                    currentIndex++;
                    slidesContainer.style.transform = `translateX(-${currentIndex * (slideWidth + slideMargin)}px)`;
                }, 10);
            } else {
                slidesContainer.style.transition = 'transform 0.3s ease-out';
                slidesContainer.style.transform = `translateX(-${currentIndex * (slideWidth + slideMargin)}px)`;
            }
        }

        interval = setInterval(cycleSlides, 2000);

        window.addEventListener('beforeunload', () => {
            if (interval) {
                clearInterval(interval);
            }
        });
    });
</script>
{% endblock %}