{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
    .slider {
        overflow: hidden;
        width: 100%;
        position: relative;
    }

    .slides {
        display: flex;
        transition: transform 0.5s ease;
        will-change: transform;
    }

    .slide {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0;
        /* Rimosso il margine verticale per far adattare le slides correttamente */
    }

    img {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="container mx-auto mt-8">
    <h1 class="text-4xl font-bold mb-6">Welcome to Our Shoe Store</h1>
    <div class="slider">
        <div id="slides-container" class="slides">
            {% for shoe in shoes %}
            <div class="slide p-6 rounded-lg shadow-lg">
                <h2 class="text-2xl font-semibold mb-2">{{ shoe.name }}</h2>
                <img src="{{ url_for('static', filename='images/' + shoe.image_url) }}" alt="{{ shoe.name }}"
                    class="rounded-lg">
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    const slidesContainer = document.getElementById('slides-container');
    let index = 0;

    function cycleSlides() {
        const slides = document.querySelectorAll('.slide');
        const singleSlideWidth = slides[0].offsetWidth;

        if (index >= slides.length - 1) {
            slidesContainer.style.transition = 'none';
            slidesContainer.style.transform = 'translateX(0)';
            index = 0;
            setTimeout(() => {
                slidesContainer.style.transition = 'transform 0.5s ease';
            }, 20);
        } else {
            index++;
            const offset = -index * singleSlideWidth;
            slidesContainer.style.transform = `translateX(${offset}px)`;
        }
    }

    setInterval(cycleSlides, 3000);
</script>
{% endblock %}