{% extends "base.html" %}

{% block content %}
<div class="container mx-auto py-16 px-6">
    <div class="flex flex-wrap items-center">
        <div class="w-full lg:w-1/2 px-4 mb-6 lg:mb-0">
            <h2 class="text-3xl font-bold text-gray-800 mb-3">{{ shoe.name }}</h2>
            <p class="text-gray-600">{{ shoe.description }}</p>
            <p class="text-gray-900 font-bold mt-4">Prezzo: €{{ shoe.price }}</p>
            <!-- Button to add to cart -->
            {% if 'user' in session %}
            <form action="{{ url_for('add_to_cart', shoe_id=shoe.id) }}" method="post">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add
                    to Cart</button>
            </form>

            {% else %}
            <p class="text-red-500">Log in to add products to your cart.</p>
            {% endif %}
        </div>
        <div class="w-full lg:w-1/2 px-4">
            <img src="{{ url_for('static', filename='images/' ~ shoe.image_url) }}" alt="{{ shoe.name }}"
                class="max-w-full h-auto mx-auto">
        </div>
    </div>
</div>
{% endblock %}